# THE PANDAS LIBRARY
In previous lessons we saw the NumPy library and the ndarray type which allows us to effectively manipulate arrays of numbers. Pandas is a newer library, based on NumPy, that provides a new object type, the **DataFrame**.  
DataFrames are essentially multidimensional matrices which however have "labels" on the rows and columns and can host heterogeneous types (numpy ndarrays can host data of the same type) and/or missing data. DataFrames are therefore convenient for managing data.

Let's now import the Pandas library

In [ ]:
import pandas as pd

# DATABASES
The Pandas library allows you to manipulate databases.
We can create databases directly, as we did with the creation of Numpy arrays, but let's try to import an existing database into Pandas.

In particular, we will import the data from a file that contains the details of the earthquakes that occurred between -2150 BC. and 2023 AD. This file contains various information about earthquakes such as geographic location, time of occurrence, number of people killed, injured, description of damage, and houses destroyed. Since there is historical data in the file, the first incomplete data.

### SOURCES
National Geophysical Data Center / World Data Service (NGDC/WDS): NCEI/WDS Global Significant Earthquake Database. NOAA National Centers for Environmental Information. doi:10.7289/V5TD9V7K

Downloadable from:
https://www.kaggle.com/

### FILE FORMAT
The file format is CSV which represents one of the simplest ways to represent data in tabular form within a simple text file.

In [ ]:
# Loading file CSV
url = 'https://raw.githubusercontent.com/pal-dev-labs/Python-for-Economic-Applications/main/Data/earthquakes.csv'
df = pd.read_csv(url)

In [ ]:
type(df)

# We note the DATAFRAME type:  
it is the fundamental object of the PANDAS library

In [ ]:
# let's have a look
df

The DataFrame has an index attribute that gives access to the ROWS

In [ ]:
df.index

The DataFrame has a columns attribute that gives access to COLUMNS

In [ ]:
df.columns

While with Numpy we cannot add "Labels" to rows and columns, with Pandas it is possible.

In [ ]:
# refer to columns by their name
aa = df[['Mag', 'Deaths']]

# we change all na value with 0
aa.fillna(0)

# plot the pair (Mag, Deaths)
import matplotlib.pyplot as plt
plt.plot(aa['Mag'],aa['Deaths'],'o')
plt.ylim(0,7000)
plt.xlabel('Mag')
plt.ylabel('Deaths')

Let's try changing the label of the rows

In [ ]:
# the following commands are a bit complicated, for now just run them

new_index = [f'T_{i}' for i in range(len(df.index))]
df = df.rename(index=dict(zip(df.index, new_index)))

In [ ]:
# let's now observe how each row has a different label
df

# How can we have an overall view of our table?

In [ ]:
df.info()

In [ ]:
# Let's try to extract a COLUMN
df['Year']

In [ ]:
# Let's try to extract two COLUMNS

df[['Location Name','Year']]

Let's be careful not to get confused with ndarrays

In [ ]:
a = np.random.randint(0,100, (10,10))
a[0]
# in this case I extract the first line

How can we access a single element of the DataFrame?  
As with ndarrays we can use the [x,y] notation, using the iloc method.   
Remember that the numbering starts from [0,0]

In [ ]:
df.iloc[1,0]

We can use [:,1:4] slicing

In [ ]:
# extract second row
df.iloc[5500,:]

In [ ]:
# we extract the ninth column
df.iloc[:,8]

In [ ]:
# we extract from the 3rd to the 7th row and from the 9th to the 10th column
df.iloc[2:6,8:10]

In [ ]:
df.iloc[[2,5,7],[3,4,9]]

Posso anche utilizzare le label delle colonne

In [ ]:
# I can also use column labels
df['Latitude'][1:3]

The dataframe columns are also FIELDs of the dataframe object.
We can then use the df.fields command

In [ ]:
df.Latitude

## NOW YOU TRY IT
- Extract the rows from 1500 to 1520 from the table
- Extract the 'Latitude' and 'Death' columns from the table
- Extract rows 4500 to 4700 of the 'Latitude' and 'Death' columns
- Extract all rows from the 4th column to the end
- extracts all the information corresponding to line 4200

## Let's now see how to run filters on the dataframe to extract some information from the table

In [ ]:
df.columns

In [ ]:
# Let's try to take just one column
year = df['Year']

In [ ]:
year

In [ ]:

# Let's look at the type of a column
type(year)

## The type of a single column is **Series**

## we need only ten LINES

In [ ]:
# we extract ten LINES
b = year.iloc[1000:1010]

In [ ]:
b

## I want to check which rows have the value 1677

In [ ]:
b == 1677

# I notice that the check returns TRUE on every line in which the condition is verified.

## I can also use expressions of logical operators

In [ ]:
b

In [ ]:
(1676 < b) & (b < 1678)

## The interesting thing is that if I apply the filter to the entire dataframe, I get the filter on the table

In [ ]:
year = df['Year']
filter1 = year == 2023

In [ ]:
filter1

In [ ]:
df_filtered = df[filter1]
df_filtered

## We can also use a more compact syntax

In [ ]:
df_filtered = df[df['Year']==1677]
df_filtered

In [ ]:
#  and operator
df_filtered = df[(df['Year']>1675)&(df['Year']<1680)]
df_filtered

In [ ]:
#  OR operator
df_filtered = df[(df['Year']==1677) | (df['Year']==1679)]
df_filtered

# NOW YOU TRY IT
- Extract the rows for the year 1948 from the table
- Extract the rows from the years 2000 to 2015 from the table
- Extract from the table the rows that have a number of deaths (Death column) greater than 1000
- Extract from the table the rows that have a number of deaths greater than 1000 between the years 2000 and 2015

In [ ]:
#df1 = df[(df['Year']>2000) & (df['Year']<2024)]

In [ ]:
#df2 = df1[df['Deaths']>1000]

In [ ]:
df2[['Year','Deaths','Location Name']]

## let's try with a country: I want to extract all the lines that refer to Italy

In [ ]:
df['Location Name']

## It seems more complicated because we are dealing with strings

# Let's take a line for example

In [ ]:
# I take the contents of row 1000 of the 'Location Name' column

stringa = df['Location Name'][1000]

In [ ]:
stringa

In [ ]:
type(stringa)

How do I check if a word is in the string? I use **in**

In [ ]:
"ECUADOR" in stringa

But it doesn't work with the dataframe

In [ ]:
"ECUADOR" in df['Location Name']

I use the str.contains method

In [ ]:
filtro_italy = df['Location Name'].str.contains("ITALY")

In [ ]:
filtro_italy

It's still not good because we have NaN... But what is NaN?

## NaN: Not A Number

The NaN value is used in Pandas to represent a missing value.
There are several methods, among which we report:

- ``isnull()``: creates a boolean mask highlighting the NaNs with True
- ``notnull()``: the opposite of ``isnull()``
- ``dropna()``: returns a filtered version of the dataframe without NaN
- ``fillna()``: returns a copy of the dataframe with the NaN data replaced by other values

In [ ]:
df.isnull()

In [ ]:
df.fillna("0")

## Now we can eliminate the NaNs by substituting a more tractable value. We put the string "0"

In [ ]:
newdf = df.fillna("0")

In [ ]:
newdf

## Now let's put the filter on the nation Italy

In [ ]:
filtro_italy = newdf['Location Name'].str.contains("ITALY")
filtro_italy

In [ ]:
earthquake_italy = newdf[filtro_italy]
earthquake_italy.tail(30)

# NOW YOU TRY:
- Extract from the table the earthquake in TURKEY (TURKEY)
- Extract the earthquakes of 2023 from the table above

In [ ]:
#filtro_turkey= (newdf['Location Name'].str.contains("TURK")) 
#newdf[filtro_turkey]['Year']

In [ ]:
#tab_turchia=newdf[filtro_turkey]
#tab_turchia[newdf['Year']==2023]

I want to calculate the total number of deaths due to an earthquake in Turkey

In [ ]:
filtro_turkey= (newdf['Location Name'].str.contains("TURK")) 
tab_turchia=newdf[filtro_turkey]
a3= tab_turchia['Deaths']

In [ ]:
a3

In [ ]:
a3.sum()

We have an error because in the "Deaths" column we have numbers in string format. we have to convert them

In [ ]:
tab_turchia['Deaths'][20]

In [ ]:
aa4 =tab_turchia['Deaths'].astype(float)

In [ ]:
aa4.sum()

## I now want to plot the n. of deaths per year

In [ ]:
tab_turchia

In [ ]:
worktable = tab_turchia[['Year','Deaths']]

In [ ]:
worktable

In [ ]:
worktable.info()

In [ ]:
# the columns are of type object. I convert them to float
worktable['Deaths'] = worktable['Deaths'].astype(float)
worktable['Year'] = worktable['Year'].astype(float)

In [ ]:
worktable.info()

In [ ]:
worktable

## Now we can use the groupby command

In [ ]:
work2 = worktable.groupby('Year')['Deaths'].sum()

In [ ]:
work2

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# impostiamo una dimensione di 10 pollici di larghezza per 5 pollici di altezza
plt.figure(figsize=(15,10))

plt.plot(work2, 'o')

plt.xlim(1900,2023)
plt.ylim(0,15000)

plt.xlabel('Year')
plt.ylabel('Death')
plt.title('Number of Deaths in Turkey')

# FOOTBALL PLAYER SELECTION EXERCISE

We will now use a dataset containing different attributes of the footballers

<img src="fig/dataset.png">


https://sofifa.com/

In [ ]:

url = 'https://raw.githubusercontent.com/giandopal/Artificial-Intelligence-with-Python/main/data/players_20.csv'

players = pd.read_csv(url)

In [ ]:
players

In [ ]:
players

In [ ]:
# we increase the number of visible columns
pd.set_option('display.max_columns', None)

In [ ]:
players

In [ ]:
players.columns.to_list()

In [ ]:
players['nationality'].unique()

In [ ]:
# how many nations do we have?
elenco_nazioni = players['nationality'].unique()
elenco_nazioni

In [ ]:
type(elenco_nazioni)
elenco_nazioni.shape

In [ ]:
# how many nations are there (we have a ndarray)
elenco_nazioni.shape

In [ ]:
players['nationality'].value_counts()

In [ ]:
# how many players do we have for each country?
giocatori_nazione = players['nationality'].value_counts()
giocatori_nazione

In [ ]:
giocatori_nazione[0:40].plot.bar()

In [ ]:
giocatori_nazione[0:20].plot.bar()

In [ ]:
giocatori_nazione.plot.pie()

# NOW YOU TRY:
- Print a bar diagram that highlights the number of player for each age (ages on the abscissae and the number of players on the ordinates
- Print a Pie diagram that highlights the distribution of players in the Italian teams only

In [ ]:
#aa = players['age'].value_counts()
#aa.plot.bar()

In [ ]:
#a1 = players[players['nationality']=='Italy']
#a2 = a1['club'].value_counts()
#a2.plot.pie()

In [ ]:
players.loc[0:10,'dob':'club']

In [ ]:
players

## Let's try to create a **PIVOT** table

A pivot table is an analytical and reporting tool necessary for creating summary tables. One of the main purposes of these tables is the organization of data, through an appropriate choice of the fields and elements that must compose it

In Pandas we can use the command **pd.pivot_tables()**

In [ ]:
# let's try to organize a table with groupings.
# let's create an index using nationality and short name. In the respective cells we insert
# as values for ages
pd.pivot_table(players, index=['nationality','short_name'], values=['age'])

# Let's see the pivot_table command in detail


https://pbpython.com/pandas-pivot-table-explained.html

In [ ]:
# let's try to also add the value of the salary (wage_eur)

pd.pivot_table(players, index=['nationality','short_name'], values=['age','wage_eur'])

In [ ]:
# - I want to print the average ages by country in the cells

pd.pivot_table(players, index=['nationality'], values=['age'], aggfunc=[np.mean])

In [ ]:
# - I want to print in the cells the average ages for nations, the maximum age, the minimum age
# and the sum of the ages

pd.pivot_table(players, index=['nationality'], values=['age'], aggfunc=[np.mean, np.max,
                np.min, np.sum])

In [ ]:
# let's try to extract the values for Italy
pivot = pd.pivot_table(players, index=['nationality'], values=['age'], aggfunc=[np.mean, np.max,
                np.min, np.sum])

In [ ]:
pivot.loc['Italy']

In [ ]:
# Also in this case I can produce graphs

In [ ]:
pivot2 = pd.pivot_table(players, index=['nationality'], values=['age'])
pivot2

In [ ]:
# sort
pivot2 = pivot2.sort_values('age')
pivot2

In [ ]:
# let's try to print the age value for each nation
pivot2.plot.bar()

# Let's use histogram

In [ ]:
# we now print for each age how many players are that age
pivot2.plot.hist(bins=100)