# A QUICK RECAP

- Everything in Python is an OBJECT. An Object is something that can store data (fields) and performs actions (methods). An object is stored in memory at a specific memory address
- A VARIABLE in python is a pointer to the object. It stores only the memory address of the object
- Each object has a TYPE. Python has many basic types (Boolean, Int, Float, Str, List)

## PYTHON FUNCTIONS
In Python a function is a particular OBJECT that is able to receive in input one or more parameters, perform some actions and produce an output.
There are 2 ways to create a function: by an explicit definition or by the mean of the anonymous functions

## Create a function by definition
Let's try to create $f(x) = 2x + 4$

In [47]:
def f(x):    # we use the 'def' command followed by the name of the function; we also use () to specify input variables
    y = 2 * x + 4  # we specify the form of the function
                   # TAKE CARE: instructions are indented. It's python sintax to create a block of code
    return y

In [48]:
f(7)

18

In [50]:
#What type is this object?
type(f)

function

In [1]:
# Let's define functions with more variables
def g(x,y):
    z = 2 * x-3 *y
    return z

In [2]:
g(4,9)

-19

The nice thing in Python is that it manages automatically the type of the variable

In [3]:
def sumvariable(x,y):
    z = x+y
   # print("The result of the operation is: ",z)
    return z       # return is mandatory when you have to give back to the caller some results

result = sumvariable(5,3)
print("Result is: ", result)

Result is:  8

In [4]:
sumvariable(2,3)

5

In [73]:
sumvariable("Python ","Course")

'Python Course'

Take care: objects created inside a function "Leaves" only there. You cannot access the value of internal variables from the outside (SCOPING)

## Exercise 1: Calculate the Area of a Circle
Write a Python function that takes the radius of a circle as a parameter and returns the area of the circle. 

You can use the math module for the value of π (math.pi)

In [79]:
import math

def calculate_circle_area(radius):
    # Your code here
    pass

# Test the function
radius = 5
area = calculate_circle_area(radius)
print("The area of the circle is: ",area)

The area of the circle is:  78.53981633974483

## Exercise 2: Calculate the Area of a rectangle
Write a Python function that takes the high and the base of a rectangle as a parameter and returns the area of the rectangle.

## Exercise 3
- Define a function that receive a list of integer as input and return the same list, sorted from the lower to the higher
(use the function sorted to sort a list)

Write the code to test the function

## ANONYMOUS FUNCTIONS
We can create a function in a quicker way be means of the Anonymous Functions.  
As everything in Python, Anonymous functions are also OBJECTS which can be referenced by a variable.  
The instruction to create it is:

In [43]:
# we associate to the input x the form 2x+3
lambda x: 2*x+3

In [51]:
# let's check the type
type(lambda x: 2*x+3)

function

Note that we created just an object of type function. We do not have a pointer to that object

Python is a first-class functions programming language as it treats functions as first-class citizens (objects).

We can create the pointer assigning the function to a variable. Better we can reference an object function with a variable.

In [ ]:
f1 = lambda x: 2*x+3
# now we can call the funtion with the variable using ()
f1(2)

First-class functions are a necessity for the functional programming style, in which the use of higher-order functions is a standard practice

Treating functions as objects gives the chance to define a function that has as input parameter, a function (high order functions)

In [76]:
# we can define functions with more input variables
f2 = lambda x,y,z: x*y+3*z

In [77]:
f2(3,4,5)

27

In [52]:
# Let's create a custom high order function: map2
# note as in python we don't need to specify that there is a function in the input parameter

def map2(function1,input1):  # this function has the first input parameter that is a function
    temp = function1(input1)  # we use the function notation here, using ()
    return temp

In [54]:
map2(lambda x: 4*x,2)  # we call the high order function map2 with a function as parameter

8

In [55]:
map2(lambda x: 5*x,2)

10

A practical example: the use of the built in high order function **map**

In [56]:

a=[1,2,3,4,5]
# we use the built in function map that takes as first argument a FUNCTION 
# take care of the anonymous function we use in it

b=map(lambda x: x*4,a)
list(b)   # function list is necessary to print b

[4, 8, 12, 16, 20]

import requests
from IPython.display import Image# EXERCISE

Try to execute all the cells of the notebook

## Exercise 4: Add Two Numbers
Write a Python program that defines an anonymous function to add two numbers.  
Test the function

7

## Exercise 5
- Use map function to square each element of a list of integer numbers

# Control Structures: IF statement

## Recap: Comparison Operations

Another type of operation which can be very useful is comparison of different values.
For this, Python implements standard comparison operators, which return Boolean values ``True`` and ``False``.
The comparison operations are listed in the following table:

| ``a == b``| ``a`` equal to ``b``      
| ``a != b`` | ``a`` not equal to ``b``             
| ``a < b``| ``a`` less than ``b``         
| ``a > b``| ``a`` greater than ``b``             
| ``a <= b``| ``a`` less than or equal to ``b``
|``a >= b`` | ``a`` greater than or equal to ``b``



These comparison operators can be combined with the arithmetic and bitwise operators to express a virtually limitless range of tests for the numbers.
For example, we can check if a number is odd by checking that the modulus with 2 returns 1:

# Control Structures: IF statement

A program is a list of instructions that are executed sequentially. With control flow, you can execute certain blocks of code **CONDITIONALLY** and/or **REPEATEDLY** - these basic blocks can be combined to create very sophisticated programs

## Conditional Statements: ``if``-``elif``-``else``:
Conditional statements, often called *if-then* statements, allow the programmer to execute certain pieces of code depending on some Boolean condition.
A basic example of a Python conditional statement is this:

In [82]:
# the comparison operator < gives back a boolean value (True or False)
x=1
x<0

False

In [83]:
x = 4
if x > 3:    # if boolean value is TRUE
    print("number is bigger than 3")

number is bigger than 3

We can also make the alternative explicit

In [59]:
x = 0

if x >= 0:
    print("X is bigger than 0")
else:
    print(x, "x is lower than 0")

X is bigger than 0

In [84]:

# how to insert a number from keyboard
a = input("insert a number: ")   # from input we get a str type
b = float(a)   # with float we convert a str into float (a string into a number)
print(b)

insert a number:  4

4.0

We can explain more alternatives

In [66]:
x = float(input("insert a number:"))

if x == 0:
     print("the number entered is zero")
elif x < 0:
     print("the number entered is negative")
elif (0 < x) and (x <= 2):
     print("the number is between (or equal to) 0 and 2")
else:
     print("the number is greater than 2")

insert a number: 8

the number is greater than 2

## Exercise 6
Write a conditional statement that, given an input string, tells us if the length of the string is greater than 7 characters  
use function len(x) to get the length of a string

## Exercise 7

Write a function that receives two integers and tells us whether the first number is greater than the second

## RECURSIVE FUNCTION
A recursive function is a function that calls itself during its execution. In other words, it's a function that solves a problem by solving smaller instances of the same problem. Recursive functions typically have two parts: the base case and the recursive case

In [4]:
def factorial(n):
    # Base case
    if n == 0 or n == 1:
        return 1
    # Recursive case
    else:
        return n * factorial(n - 1)

In [5]:
factorial(5)

120

## Exercise 7A:

Fibonacci Sequence
The Fibonacci sequence is a series of numbers where each number is the sum of the two preceding ones, usually starting with 0 and 1: $0,1,1,2,3,5,8,13,21,…$

Write a recursive function in Python to find the nth number in the Fibonacci sequence.

Constraints:
The function should take an integer n as input and return the nth Fibonacci number.  
Assume that n is a non-negative integer

### Function call
result = fibonacci(6)

### Output
print(result)  # Output should be 8, as the 6th Fibonacci number is 8.

Explanation:
The Fibonacci sequence is generated recursively by adding the previous two numbers. The base cases for this problem are   
$F(0) = 0, F(1)=1$

The recursive case is $F(n)=F(n−1)+F(n−2)$ for $n≥2$ .

Your recursive function should handle these base cases and make recursive calls to compute the Fibonacci number for any other $n$

## ``for`` LOOP
Loops in Python are a way to repeatedly execute some code statements.
So, for example, if we want to print each of the elements in a list, we can use a ``for`` loop:

In [89]:
a = [1,2,3,4,5]   # creo una lista

In [90]:
for i in a:
    print(i)

1
2
3
4
5

In [91]:
# if I want to print on the same line
for i in a:
    print(i, end=' ') #

1 2 3 4 5

In [93]:
b = ["Corso","AI", "with", "Python"]
print(b)

['Corso', 'AI', 'with', 'Python']

The list could contain also different obects

In [97]:
a = [1 ,"Hello", 3.5, True, [1,2,3,4] ]
for i in a:
    print (i)

1
Hello
3.5
True
[1, 2, 3, 4]

Note the simplicity of the for loop:

1) we specify the variable we want to use,
2) the sequence we want to loop over
3) and we use the "in" operator to connect them together in an intuitive and readable way.

More precisely, the object to the RIGHT of "in" can be any Python ITERATOR.
An iterator can be thought of as a generalized sequence of objects.

For example, one of the most commonly used iterators in Python is the range object, which generates a sequence of numbers:

In [99]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [100]:
# create a list from 0 to 10 step 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

We can perform actions inside a for loop  
For example, let's create a function that sums all the numbers in a list

In [111]:
def sumlist(x):
    counter = 0
    for i in x:
        counter = counter + i
    return counter

In [112]:
x = list(range(0, 20, 1))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [113]:
sumlist(x)

190

Let's write a Python function that takes two lists and returns True if they have at least one element in common

In [131]:
def checklist(x,y):
    found = False
    counter=0
    for i in x:
        for j in y:
            if i == j:
                counter=counter+1
                found = True
    return found,counter

In [132]:
x = [1,2,3,5,6]
y= [1,2,7,8,9,10]
a1, a2 = checklist(x,y)
print("Found is ", a1, " N. times =", a2)

Found is  True  N. times = 2

## Exercise 8 
Write a function to calculate the factorial of a number

## Exercise 9. 
Count the vowels in a word

# List Comprehensions
List comprehensions are simply a way to build list with for-loop into a single short, readable line.
For example, here is a loop that constructs a list of the first 12 square integers:

In [143]:
L = []
for n in range(12):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

The list comprehension equivalent of this is the following:

In [144]:
[n ** 2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

This basic syntax, then, is ``[``*``expr``* ``for`` *``var``* ``in`` *``iterable``*``]``, where *``expr``* is any valid expression, *``var``* is a variable name, and *``iterable``* is any iterable Python object.

## Multiple Iteration
Sometimes you want to build a list not just from one value, but from two. To do this, simply add another ``for`` expression in the comprehension:

In [4]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

Notice that the second ``for`` expression acts as the interior index, varying the fastest in the resulting list.
This type of construction can be extended to three, four, or more iterators within the comprehension

## Conditionals on the Iterator
You can further control the iteration by adding a conditional to the end of the expression.
In the below example, we iterated over all numbers from 1 to 50, saving all multiples of 7.
Look at this again, and notice the construction:

In [146]:
[val for val in range(50) if val % 7 == 0]

[0, 7, 14, 21, 28, 35, 42, 49]

The expression ``(i % 7 > 0)`` evaluates to ``True`` unless ``val`` is divisible by 7.
Again, the English language meaning can be immediately read off: "Construct a list of values for each value up to 50, but only if the value is not divisible by 7".
Once you are comfortable with it, this is much easier to write – and to understand at a glance – than the equivalent loop syntax:

In [148]:
L = []
for val in range(50):
    if val % 7:
        L.append(val)
print(L)

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48]

## Exercise 10. 
Extract even numbers from a list using list comprehension

## SOLUTIONS

In [ ]:
# solution of exercise 1

import math

def calculate_circle_area(radius):
    area = radius**2 * math.pi
    return area

# Test the function
radius = 5
area = calculate_circle_area(radius)
print("The area of the circle is: ",area)

In [ ]:
# solution of exercise 3
def sorter (listofinput):
    a = sorted(listofinput)
    return a 
a = [1,2,6,3]
b = sorter(a)
print(b)

In [ ]:
# solution of exercise 4

sum1 = lambda x,y: x+y
sum1(3,4)

In [81]:
# solution of exercise 5

a = [1,2,3,4,5]
b = list(map(lambda x:x**2,a))
print(b)

[1, 4, 9, 16, 25]

In [85]:
# solution of exercise 6

x = input("enter a string")
if len(x) > 7:
     print("the string is greater than 7 characters")
else:
     print("The string is less than or equal to 7 characters")

enter a string 5

The string is less than or equal to 7 characters

In [88]:
# solution of exercise 7

def comparison(x,y):
    if (x==y):
        print(x," is equal to ",y)
    elif x < y:
         print(x, " is less than ",y)
    else:
         print(x, " is greater than ",y)
comparison(4,5)

4  is less than  5

In [7]:
# solution exercise 7A

def fibonacci(n):
    # Base cases
    if n == 0:
        return 0
    elif n == 1:
        return 1
    # Recursive case
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
result = fibonacci(6)
print(result)  # Output should be 8, as the 6th Fibonacci number is 8.

8

In [136]:
# solution of exercise 8

def factorial(x):
    fact = 1
    for i in range(1,x+1):
        fact = fact*i
    return fact
factorial(5)

120

In [142]:
# solution of exercise 9

# Define a word
word = "python"

# Initialize a variable to count vowels
vowel_count = 0

# Use the for command to iterate through each letter in the word
for letter in word:
    # Check if the letter is a vowel (you can extend the list if necessary)
    if letter.lower() in ['a', 'e', 'i', 'o', 'u']:
        vowel_count = vowel_count  + 1

# Print the result
print('The word', word,' contains',vowel_count, ' vowel')

The word python  contains 1  vowel

In [151]:
# solution of exercise 10

# Define a list of numbers
numbers = list(range(0,20))

# Use list comprehension to create a new list containing only the even numbers
even_numbers = [x for x in numbers if x % 2 == 0]

# Print the original list and the list of even numbers
print(f"Original list: {numbers}")
print(f"Even numbers: {even_numbers}")

Original list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]